.slick-slide-main > button {
    background-color: #a063cd6b;
    height: 3rem;
    width: 2rem;
    border-radius: 5px;
}

.slick-slide-main > button:hover {
    background-color: #a163cde1;
}

.slick-slide-main > button:focus {
    background-color: #a063cd6b;
}