.slick-slide-main > button {
    background-color: #7bab4f;
    height: 3rem;
    width: 2rem;
    border-radius: 5px;
}

.slick-slide-main > button:hover {
    background-color: #7bab4f;
}

.slick-slide-main > button:focus {
    background-color: #7bab4f;
}

.booking-button {
    padding: 1rem;
    border: 1px solid #4f6e34;
    border-radius: 5px;
    background-color: #e4e6d3;
    display: flex;
    align-items: center;
    line-height: 0;
    font-size: 16px;
    color: #4f6e34;
    text-shadow: initial;
}

.spinner-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000a3;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}