.slick-slide-main > button {
    background-color: var(--big-circle-icons-color);
    height: 3rem;
    width: 2rem;
    border-radius: 5px;
}

.slick-slide-main > button:hover {
    background-color: var(--big-circle-icons-color);
}

.slick-slide-main > button:focus {
    background-color: var(--big-circle-icons-color);
}

.booking-button {
    padding: 1rem;
    border: 1px solid #d6d3dc;
    border-radius: 5px;
    background-color: var(--big-circle-icons-color);
    color: white;
    display: flex;
    align-items: center;
    line-height: 0;
    font-size: 16px;
    text-shadow: none;
    text-shadow: initial;
}

.spinner-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000a3;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card-button {
    position: absolute; 
    bottom: 0;
    width: 100%;
    border-color: var(--big-circle-icons-color); 
    background-color: var(--big-circle-icons-color);
    color: white!important;
    font-weight: 600;
    letter-spacing: 1px;
}

.text-uppercase {
    text-transform: uppercase;
}