.booking-team-custom-card {
    width: 210px;
    min-height: 23rem;
    box-shadow: 1px 1px 20px 0px #7bab4f6b;
}

.booking-team-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.booking-main-container {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
}

.booking-main {
    padding: 2rem;
}

.booking-contact-schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 30rem;
}