.about-main-container {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
}

.about-main {
    padding: 2rem;
}

.about-contact-schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 30rem;
}

.about-team-description {
    padding: 0 3rem;
    color: #96959c;
    font-family: 'Libre Baskerville', serif;
}