@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #faf3eafa;
}

a {
  color: #434343;
  text-decoration: none;
}

a:hover {
  color: #434343;
}

* {
  box-sizing: border-box;
}

.section-title {
  font-size: 24px;
  color: #4f6e34;
  font-weight: 600;
}

.sections-separator {
  border: 1px solid #796588;
  margin: 3rem 0;
  width: 90%;
}

.hover-pointer:hover {
  cursor: pointer;
}
