@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --main-header-background-color: #ebeaea;
  --main-background-color: #f5f7f7;
  --home-main-image-background-color: #f4f7f7;
  --home-main-image-text-color: #f4f7f7;
  --cards-controls-color: #f78b8c;
  --big-circle-icons-color: #8c84d8;
  --box-shadow-color: #00000069;
  --text-color-main: #555181;
  --link-text-color-main: #434343;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--main-background-color);
}

a {
  color: var(--link-text-color-main)!important;
  text-decoration: none;
}

a:hover {
  color: var(--link-text-color-main)!important;
}

* {
  box-sizing: border-box;
}

.section-title {
  font-size: 24px;
  color: var(--text-color-main);
  font-weight: 600;
}

.sections-separator {
  border: 1px solid #796588;
  margin: 3rem 0;
  width: 90%;
}

.hover-pointer:hover {
  cursor: pointer;
}

.react-datepicker__day--highlighted-custom {
  background-color: #e4e6d3;
}