.social-phone {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    list-style: none;
    gap: 1rem;
    margin: 0;
    align-items: center;
    font-size: 16px;
    margin-right: 5rem;
  }

  .navbar-main {
    /* background-color: var(--main-header-background-color)!important; */
    background: linear-gradient(0deg, rgba(73,86,160,0.5746673669467788) 0%, rgba(73,86,160,1) 100%);
  }

  .navbar-mini-main {
      /* background-color: var(--home-main-image-background-color); */
      min-height: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: linear-gradient(90deg, #8c8ba9 0%, #d7d6e5 50%, #8c8ba9 100%);
  }

  .navbar-mini-main button {
    border: none;
    background: transparent;
    outline: var(--main-background-color);
  }

  