.social-phone {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    list-style: none;
    gap: 0.5rem;
    margin: 0;
    align-items: center;
    font-size: 16px;
    float: right;
    margin-right: 5rem;
  }
  