.social-phone {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    list-style: none;
    gap: 1rem;
    margin: 0;
    align-items: center;
    font-size: 16px;
    margin-right: 5rem;
  }

  .navbar-main {
    background-color: var(--main-header-background-color)!important;
  }

  .navbar-mini-main {
      background-color: var(--main-background-color);
      min-height: 2rem;
      display: flex;
      justify-content: flex-end;
  }

  .navbar-mini-main button {
    border: none;
    background: transparent;
    outline: var(--main-background-color);
  }

  