.wrapper {
  /* background-color: rgb(245 247 247); */
  margin: 1rem 2rem;
  /* box-shadow: 3px 4px 15px 3px #c6c1c1; */
  border-radius: 4px;
  font-size: 18px;
}

.price-color-font {
  font-weight: 700;
  color: var(--big-circle-icons-color);
  white-space: nowrap;
}
